body{
  background: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 900px;
  margin: auto;
}


#title,.subtitle,.post_title {
 color:#C0C0C0 
}

#title{
  font-size: 48;
  text-transform: uppercase;
}

a {
  text-decoration: line-through;
  color: #C0C0C0;
}

.post_title{
  font-size: 20px;
  font-style: italic;
  margin: 0;
  margin-bottom: 15 px;
  text-transform: capitalize;
}
.post{
  background: C0C0C0 ;
  padding: 15px;
  border: 3px solid #C0C0C0 ;
  margin-bottom: 15px;
  border-radius: 10px;
}
.post_content{
  margin: 0;
  margin-bottom: 15;
  text-align: justify;
  color: #C0C0C0;

}
.image_post{
  margin-bottom: 15px;
  width: 100%;
}

.perfil{
  border: 1px solid #C0C0C0 ;
  border-radius: 50%
}

.contact_list{
  list-style-type: none;
  padding-left: 15px;
  color: #C0C0C0;
}
.contact_list li a {
text-decoration: none;}